[Unit]
Description=DB Monitor Service
After=network.target

[Service]
Type=simple
User=slothsh
WorkingDirectory=/var/cicd
ExecStart=/var/cicd/dbmonitor.py
Restart=on-failure
Environment="PATH=/var/cicd/.venv/bin:/usr/bin:/bin"
RestartSec=5

[Install]
WantedBy=multi-user.target
