services:
  website-stefanolivier:
    image: registry.stefanolivier.com/www-stefanolivier:latest
    container_name: website-stefanolivier
    restart: always
    volumes:
      - /var/website/data/database.sqlite:/app/build/database/database.sqlite:rw
    ports:
    - "8000:80"
    - "13714:13714"
